absl-py==2.1.0
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.77.0
anyio==4.12.0
apache-tvm-ffi==0.1.8.post2
astor==0.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs==25.4.0
autocommand==2.2.2
backports.tarfile==1.2.0
blake3==1.0.8
cachetools==6.2.6
cbor2==5.8.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
clarabel==0.9.0
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.4
colorlog==4.7.2
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
compressed-tensors==0.11.0
contourpy==1.3.3
cryptography==46.0.4
cuda-bindings==13.1.1
cuda-pathfinder==1.3.3
cuda-python==13.1.1
cupy-cuda12x==13.6.0
cvxpy==1.5.3
cycler==0.12.1
DataProperty==1.0.1
datasets==4.4.2
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1765840814/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
deepspeed==0.18.5
depyf==0.19.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
ecos==2.0.14
einops==0.8.0
email-validator==2.3.0
evaluate==0.4.6
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
fastargs @ git+https://github.com/jinghanjia/fastargs@bde495ba4bed446b7695d1347953ee005a566a2e
fastrlock==0.8.3
filelock==3.20.2
flashinfer-python==0.6.1
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.10.0
fst-pso==1.8.1
FuzzyTM==2.0.9
genson==1.3.0
gguf==0.17.1
gin==0.1.6
gitdb==4.0.12
GitPython==3.1.46
grpcio==1.76.0
grpcio-reflection==1.76.0
h11==0.16.0
hdbscan==0.8.40
hf-xet==1.2.0
hjson==3.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
idna==3.11
igraph==0.11.8
ijson==3.4.0.post0
interegular==0.3.3
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1761567932/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1767621166/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jaraco.context==4.1.1
jaraco.functools==4.1.0
jaraco.text==3.7.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.1.0
joblib==1.5.3
jsonlines==4.0.0
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kiwisolver==1.4.9
lark==1.2.2
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.11.3
# Editable install with no version control (lm_eval==0.4.0)
-e /home/sjc4fq/SOUL/lm-evaluation-harness
loguru==0.7.3
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mbstrdecoder==1.1.3
mcp==1.26.0
mdurl==0.1.2
miniful==0.0.6
mistral_common==1.9.0
model-hosting-container-standards==0.1.13
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.0
multiprocess==0.70.18
narwhals==2.14.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.6.1
ninja==1.13.0
numba==0.61.2
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cudnn-frontend==1.18.0
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-cutlass-dsl==4.3.5
nvidia-ml-py==13.590.48
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
openai==2.16.0
openai-harmony==0.0.8
opencv-python-headless==4.13.0.90
osqp==0.6.7.post3
outlines==1.2.9
outlines_core==0.2.11
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
partial-json-parser==0.2.1.1.post7
pathvalidate==3.2.1
peft==0.18.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow==12.1.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
plotly==6.5.0
ply==3.11
portalocker==2.10.1
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.24.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache==0.4.1
protobuf==6.33.2
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1767012395/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-cpuinfo==9.0.0
pyarrow==22.0.0
pybase64==1.4.3
pycountry==24.6.1
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyFUME==0.3.4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyJWT==2.11.0
pyparsing==3.3.1
pytablewriter==1.2.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.22
pytz==2025.2
PyYAML==6.0.3
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1757387012/work
qdldl==0.1.7.post4
ray==2.53.0
recbole==1.2.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rich==14.3.1
rich-toolkit==0.17.2
rignore==0.7.6
rouge-score==0.1.2
rpds-py==0.30.0
sacrebleu==2.4.3
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
scs==3.2.7
seaborn==0.13.2
sentencepiece==0.2.1
sentry-sdk==2.48.0
setproctitle==1.3.7
shellingham==1.5.4
simpful==2.12.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
sparse_autoencoder==1.10.0
sqlitedict==2.1.0
sse-starlette==3.2.0
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.50.0
StrEnum==0.4.15
supervisor==4.3.0
sympy==1.14.0
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
tensorboard==2.20.0
tensorboard-data-server==0.7.2
terminaltables==3.1.10
texttable==1.7.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
top2vec==1.0.36
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1765836374256/work
tqdm==4.67.1
tqdm-multiprocess==0.0.11
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.57.3
triton==3.4.0
trl==0.23.0
typepy==1.3.2
typer==0.21.1
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2025.3
urllib3==2.6.2
uvicorn==0.40.0
uvloop==0.22.1
vllm==0.10.2
wandb==0.23.1
watchfiles==1.1.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
websockets==16.0
Werkzeug==3.1.4
wordcloud==1.9.4
xformers==0.0.32.post1
xgrammar==0.1.23
xxhash==3.6.0
yarl==1.22.0
